{% load static %}
<html>
<head>
	<title>hw4</title>
	<link rel="stylesheet" type="text/css" href="{% static 'pages.css' %}">
</head>
<body>
	<table cellspacing="0">
		<thead>
		    <tr>
		    	<th colspan="2">Orders</th>
		    </tr>
		</thead>
	  	<tbody>
		  	<tr>
				<td>ID</td>
				<td>{{ order_id }}</td>
			</tr>
			<tr>
				<td>customer</td>
				<td>{{ customer }}</td>
			</tr>
			<tr>
				<td>items</td>
				<td>
					{% for item in item_list %}
						{{ item.item }}<br>
					{% endfor %}
				</td>
			</tr>
	  	</tbody>
	</table>
</body>
</html>